
#mask {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: rgba(0,0,0,0.15);
	transition: opacity 0.6s ease;
	z-index: 9992 
}

#fixed_box.active{
	transform: scale3d(1,1,1);
	opacity: 1
}
#fixed_box{
	transition: all 0.6s ease;
	transform: scale3d(0,0,1);
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 389px;
	height: 168px;
	background: #CCCCCC;
	font-family: Arial;
	box-shadow: 0 0px 7px 1px rgba(204,204,204,0.5);
	color: #666666;
	z-index: 9999;
	/*opacity: 0;*/
}

#fixed_box .tit{
	position: relative;
	height: 39px;
	background:url('../../../images/fixed_tit.png')repeat-x;
}

#fixed_box .tit h4{
	margin: 0;
	font-size: 12px;
	text-indent: 10px;
	line-height: 39px;
	text-align: left;
}
#fixed_box .tit .close_bn{
	position: absolute;
	top: 7px;
	right: 12px;
	width: 24px;
	height: 24px;
	background: url(img/close_ico.png)no-repeat;
	cursor:pointer;
}
#fixed_box .tit .close_bn a{
	display: block;
	overflow: hidden;
	text-indent: -100px;
}
#fixed_box .content{
	position: relative;
	height: 129px;
	background: url('../../../images/content.png')repeat-x;
}
#fixed_box .content h3{
	
	line-height: 129px;
	text-align: center;
	margin: 0;
	padding: 0;
}
#fixed_box .content .sign_bn{
	background: blue;
	width: 60px;
	height: 30px;
	border-radius: 6px;
	position: absolute;
	bottom: 10px;
	right:45px;

}
#fixed_box .content .sign_bn a{
	line-height: 30px;
	
	text-decoration: none;
	display: block;
	text-align: center;
	color: #ffffff;
	font-size: 12px;
	font-weight: 600;
}
